
:root{
  --azul: #0055a2; 
  --celeste: #5b96cb;
  --grisClaro: #d1d3d3; 
  --grisMasClaro: #fafafa; 
  --gris: #7c7c7b;
  --blanco: #FFFFFF;
  --verde: #80b84c;
}
@font-face {
    font-family: 'saira-extrabold';
    src: url('../fonts/Saira-ExtraBold.ttf')  format('truetype');
}
@font-face {
    font-family: 'saira-bold';
    src: url('../fonts/Saira-Bold.ttf')  format('truetype');
}
@font-face {
    font-family: 'saira-semibold';
    src: url('../fonts/Saira-SemiBold.ttf')  format('truetype');
}
@font-face {
    font-family: 'saira-medium';
    src: url('../fonts/Saira-Medium.ttf')  format('truetype');
}
@font-face {
    font-family: 'saira-regular';
    src: url('../fonts/Saira-Regular.ttf')  format('truetype');
}
@font-face {
    font-family: 'saira-light';
    src: url('../fonts/Saira-Light.ttf')  format('truetype');
}
html {
    scroll-behavior: smooth;
    font-family: 'saira-regular';
  }
ul, ul li{
    list-style: none;
    margin: 0;
}
a{
    font-style: normal;
    text-decoration: none;
    font-family: 'saira-regular';
    outline: none;
}
body.home header{
    position: absolute;
    z-index: 2;
    background: transparent;
}
header{
    background: url('../img/bgHeader.png');
    background-size: cover;
}
header{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
header, header a{
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'saira-regular';
}
header nav{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 30px;
    margin-right: 28px;
}
header ul{
    display: flex;
    padding: 0;
    justify-content: flex-end;
}
header ul li{
    position: relative;
}
header ul li .hoverlink{
    width: 158px;
    text-align: center;
    position: relative;
}
header ul li:hover .hoverlink:before{
    content: '';
    width: 100%;
    height: 100%;
    transform: skew(-15deg);
    background: var(--azul);
    position: absolute;
    color: #FFFFFF;
    line-height: 0;
    left: 0;
}
header ul li a{
    position: relative;
    display: block;
    padding: 13px 0;
    z-index: 2;
}
header ul:last-child{
    border-top: 1px solid #FFFFFF;
}
header .arrowDown{
    margin-left: 8px;
}
header ul.submenu{
    display: none;
    position: absolute;
    left: -75px;
    width: 333px;
    transform: skew(-15deg);
    border-top: none;
    z-index: 3;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.36);
-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.36);
box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.36);
}
header ul.submenu a{
    color: var(--gris) !important;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: initial;
    transform: skew(15deg);
}
header ul.submenu li{
    border-bottom: 1px solid var(--grisClaro);
}
header ul.submenu li:last-child{
    border-bottom: none;
}
header ul.submenu li{
    background-color: var(--blanco);
}
header ul.submenu li:hover{
    background-color: var(--azul);
}
header ul.submenu li:hover a{
    color: var(--blanco) !important;
}
header .liNav:hover .submenu{
    display: block;
}
p{
    font-size: 33px;
    line-height: 1.5;
    font-family: 'saira-regular';
    color: var(--gris);
}
.text-center{
    text-align: center;
}
.justify-content{
    justify-content: center;
}
.fontMedium{
    font-family: 'saira-medium';
}

.full-container{
    max-width: 1800px;
    width: 100%;
    margin: 0 auto;
}
.sub-fullcontainer{
    width: calc(100% - 55px);
    margin: 0 auto;
}
.container-1300{
    max-width: 1300px;
    margin: 0 auto;
    width: 100%;
    display: flex;
}

/***********************/
/***********************/
.sectionMedia{
    background-image: url('../img/media/marcaAgua.png');
    background-repeat: no-repeat;
}
.sectionMedia p{
    font-size: 33px;
    line-height: 1.2;
    color: var(--gris);
    font-family: 'saira-regular';
    text-align: left;
    margin: 24px 0;
}
.sectionMedia .subtitle{
    font-size: 33px;
    margin: 0;
    font-family: 'saira-semibold';
    text-transform: uppercase;
}
.sectionMedia .subtitle.plus{
    font-family: 'saira-bold';
    background-color: var(--azul);
    transform: skew(-15deg);
    color: var(--blanco);
    font-size: 38px;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}
.sectionMedia .subtitle.plus2{
    font-family: 'saira-bold';
    background-color: var(--blanco);
    border: 2px solid var(--azul);
    transform: skew(-15deg);
    color: var(--azul);
    font-size: 38px;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

.sectionMedia .subtitle.plus span{
    padding: 0 5px;
    transform: skew(15deg);
    display: block;
}
.contMedia{
    display: flex;
}
.sectionMedia .divTextoMedia{
    display: flex;
    align-items: center;
}
.sectionMedia .divTextoMedia > div{
    width: calc(100% - 160px);
    margin: 0 auto;
    padding: 40px 0;
}
.sectionMedia .divVideoMedia img{
    position: relative;
    top: -70px;
    z-index: 2;
}
.sectionMedia .divVideoMedia > a{
    margin-top: -40px;
}
.modal.video{
    width: 800px;
}
.modal.video iframe{
    width: 800px;
    height: 420px;
}
.sectionMedia.servicios .divVideoMedia img{
    position: relative;
    z-index: 2;
    top: 0;
}
.sectionMedia.servicios{
    background: none;
    margin-bottom: 80px;
}
.sectionMedia .parrafsection{
    margin: 0;
    font-size: 33px;
    line-height: 1.2;
    margin-bottom: 40px;
    text-align: center;
}
.sectionMedia.servicios .subtitle{
    padding: 13px 20px;
    min-width: 572px;
    text-align: center;
}
.sectionMedia.servicios .divTextoMedia{
    align-items: flex-start;
}
.sectionMedia.servicios .divTextoMedia > div{
 padding-top: 0;
}
.sectionMedia.servicios .contMedia{
    margin-top: 82px;
}
.sectionMedia.servicios .divTextoMedia{
    display: block;
}
.sectionMedia.servicios .divTextoMedia .contButtons{
    display: flex;
    justify-content: center;
}
.sectionMedia.servicios .divTextoMedia .contButtons a span{
    text-align: center;
}
.sectionMedia.servicios .contMedia{
    justify-content: space-between;
}
.videomodal{
    position: relative;
}
.videomodal::after{
    content: '';
    width: 172px;
    height: 172px;
    position: absolute;
    top: 50%;
    margin-top: -86px;
    left: 50%;
    margin-left: -86px;
    background-image: url('../img/media/icon-video-play.png');
    z-index: 3;
}
.sectionMedia.servicios.obras .divTextoMedia ul li{
    font-size: 29px;
    margin-bottom: 20px;
}
.sectionMedia.servicios.obras .divTextoMedia ul li span{
    display: block;
}
.sectionMedia.servicios.obras .divTextoMedia ul li b{
    font-family: 'saira-bold';
}
/********************/
/********************/
.sectionNosotros div:nth-child(2){
    padding: 0 90px 0 40px;
}
.sectionNosotros{
    display: flex;
    margin: 40px 0;
}
.sectionNosotros p{
    font-size: 30px;
    line-height: 46px;
    color: var(--gris);
    text-align: justify;
}
.sectionNosotros p b{
    color: var(--azul);
}
.titleNosotros span{
    color: var(--azul);
    font-size: 42px;
    font-family: 'saira-semibold';
    text-transform: uppercase;
    display: block;
    text-align: center;
}
.titleNosotros span:nth-child(2){
    color: var(--blanco);
    position: relative;
    z-index: 1;
    font-size: 56px;
    font-family: 'saira-bold';
    padding: 10px 5px;
}
.titleNosotros span:nth-child(2)::before{
    content: '';
    width: 100%;
    height: 100%;
    transform: skew(-15deg);
    border: 2px solid var(--azul);
    position: absolute;
    color: #FFFFFF;
    line-height: 0;
    background-color: var(--azul);
    z-index: -1;
    left: 0;
    top: 0;
}
/********************/
/********************/
.sectionTabs{
    margin-top: 80px;
}
.tabs-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.tabs-buttons {
    margin: 0px auto 10px auto;
    display: flex;
    justify-content: center;
}

.tab-button {
    font-size: 20px;
    font-family: 'saira-regular';
    text-decoration: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 52px;
    color: var(--azul);
    z-index: 1;
    text-transform: uppercase;
    margin-left: 30px;
    cursor: pointer;
    border: none;
    background: transparent;
}
.tab-button:first-child{
    margin-left: 0;
}
.tab-button span{
    margin: 0 auto;
    z-index: 1;
}
.tab-button::before{
    content: '';
    width: 100%;
    height: 100%;
    transform: skew(-15deg);
    border: 2px solid var(--azul);
    position: absolute;
    color: #FFFFFF;
    line-height: 0;
}
.tab-button.active {
    color: white;
    font-family: 'saira-semibold';
}
.tab-button.active::before{
    background-color: var(--azul);
}

.tab-content {
    display: none;
    padding: 20px 80px;
    background-image: url('../img/iconGoals.png');
    background-repeat: no-repeat;
    background-position-y: 49px;
    text-align: justify;
}
.tab-content p{
    color: var(--gris);
    font-size: 33px;
    line-height: 1.2;
}
.tab-content.active {
    display: block;
}
button:focus {
    outline: none;
    background-color: transparent;
}
/*****************/
/*****************/

.buttonWhite {
    font-size: 20px;
    font-family: 'saira-regular';
    text-decoration: none;
    position: relative;
    display: flex;
    align-items: center;
    width: 200px;
    height: 52px;
    color: var(--azul);
    z-index: 1;
    text-transform: uppercase;
    margin-left: 30px;
}

/********************/
/********************/
.slider-sectionpage .slider-container {
    width: 920px;
    margin: 0 auto;
}

.slider-sectionpage .slider-for img {
    width: 100%;
    height: auto;
}
.slider-sectionpage .slider-for::after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 512px solid var(--blanco);
    border-right: 100px solid transparent;
    left: 0;
    top: 0;
}

.slider-sectionpage .slider-nav img {
    width: 190px;
    height: 115px;
    object-fit: cover;
    border: 2px solid transparent;
    cursor: pointer;
    transition: border 0.3s;
}

.slider-sectionpage .slider-nav .slick-current img {
    border-color: #000;
}
.slider-sectionpage .slider-nav .slick-track{
    transform: initial !important; 
    width: 578px !important;
}
.slider-sectionpage .slider-nav{
    position: relative;
    margin-top: -119px;
    top: -74px;
}
.slider-sectionpage .slider-nav .slick-track{
    border: 7px solid var(--blanco);
}

.slider-sectionpage .slick-dots,
.slider-sectionpage ul:not(.browser-default){
    bottom: -56px !important;
    left: -9px !important;
    display: flex !important;
}


/********************/
/********************/

.sectionMedia.servicios .subtitle.subtitlegreen{
    text-align: left;
    font-family: 'saira-bold';
    position: relative;
    padding-left: 30px;
    margin-top: 20px;
}
.sectionMedia.servicios .divTextoMedia ul{
    margin-bottom: 20px;
}
.sectionMedia.servicios .divTextoMedia ul li{
    list-style: disc;
    font-size: 33px;
    font-family: 'saira-regular';
    color: var(--gris);
    margin-left: 54px;
    
}
.sectionMedia.servicios .divTextoMedia ul li::marker{
    color: var(--azul);
    list-style-image: url(../img/listGreen.png);
    
}

.sectionMedia.servicios .divTextoMedia ul.greenLi{
    list-style-image: url(../img/listGreen.png);
    min-width: 720px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.sectionMedia.servicios .divTextoMedia ul.greenLi li{
    list-style: none;
    list-style-image: url(../img/listGreen.png);
}
.sectionMedia.servicios .subtitle.subtitlegreen::before{
    content: '';
    height: 10px;
    width: 18px;
    transform: skew(-18deg);
    background-color: var(--verde);
    position: absolute;
    left: 0;
    top: 32px;
}
.buttonWhite{
    font-size: 20px;
    font-family: 'saira-regular';
    text-decoration: none;
    position: relative;
    display: flex;
    align-items: center;
    width: 200px;
    height: 52px;
    color: var(--azul);
    z-index: 1;
    text-transform: uppercase;
    margin-left: 30px;
}
.buttonWhite:first-child{
    margin-left: 0px;
}

.buttonWhite span{
    margin: 0 auto;
}
.buttonWhite::before{
    content: '';
    width: 100%;
    height: 100%;
    transform: skew(-15deg);
    border: 2px solid var(--azul);
    position: absolute;
    color: #FFFFFF;
    line-height: 0;
}
/********************/
/********************/
.arrowDownSection{
    position: relative;
    display: table;
    margin: 23px auto 0 auto;
    animation: pulsacionArrow 1s infinite;
}

@keyframes pulsacionArrow {
    0%    { opacity: 0; }
    50%   { opacity: 1; }
    100%    { opacity: 0; }
}
/**********************/
/**********************/
.carouselClientes{
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
}
.carouselClientes > div img{
    display: block;
    margin: 0 auto;
}
.carouselClientes > div{
    padding-bottom: 100px;
    padding-top: 25px;
}
.columnFooter{
    width: 50%;
}

.titleSection{
    font-family: 'saira-extrabold';
    color: var(--azul);
    font-size: 66px;
    display: table;
    margin: 0 auto;
    position: relative;
    padding-bottom: 40px;
    padding-top: 60px;
    z-index: 2;
    line-height: 1;
}
.titleSection.inquietud{
    font-family: 'saira-semibold';
    font-size: 41px;
}
.titleDiv{
    font-family: 'saira-bold';
    color: var(--azul);
    font-size: 34px;
}
.subtitle{
    font-family: 'saira-bold';
    color: var(--azul);
    font-size: 25px;
    line-height: 1.5;
}
.divWhy{
    display: flex;
}
.divWhy div:first-child{
    width: 150px;
}

.divWhy p{
    font-family: 'saira-regular';
    color: var(--gris);
    font-size: 30px;
    text-align: left;
    margin: 24px 0;
}
.titleSection::after{
    content: '';
    background-image: url('../img/logito.png');
    display: block;
    width: 48px;
    height: 72px;
    position: absolute;
    top: 53px;
    left: -24px;
    z-index: -1;
}
.titleSection.inquietud::after{
    background-image: none;
}



.contfullblue{
    width: 100%;
    background-color: var(--azul);
    padding-top: 30px;
    padding-bottom: 30px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: stretch;
}
.contfullblue span:first-child,
.contfullblue span:last-child{
    text-align: center;
}
.contfullblue span{
    font-family: 'saira-medium';
    font-size: 23px;
}
.contfullblue span.boldDatos{
    font-family: 'saira-bold';
    font-size: 45px;
    display: flex
}
.contfullblue .boldDatos span{
    font-size: 24px;
}
.contfullblue .divDatos{
    padding: 0 28px;
    border-right: 3px solid var(--celeste);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.contfullblue .divDatos div{
    display: flex;
}
.contfullblue .divDatos:last-child{
    border-right: none;
}
.containerCuadritosItems{
    display: flex;
    flex-wrap: wrap;
}
.servicioImg{
    width: 100%;
    display: block;
}
.cuadritoItems{
    width: 20%;
    position: relative;
    cursor: pointer;
}
.cuadritoCeleste{
    content: '';
    position: absolute;
    width: calc(100% - 66px);
    height: calc(100% - 66px);
    background-color: rgba(91,150,203,0.25);
    top: 0;
    left: 0;
    transition: background-color 0.5s ease;
    color: #FFFFFF;
    padding: 33px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
.cuadritoCeleste span{
    font-size: 33px;
    font-family: 'saira-medium';
}
.cuadritoCeleste div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    line-height: 1;
}
.cuadritoCeleste div img{
    position: relative;
    top: 3px;
}
.cuadritoCeleste > img,
.cuadritoCeleste > div{
    opacity: 0;
    transition: opacity 0.5s ease;
}
.cuadritoItems:hover .cuadritoCeleste{
    background-color: rgba(0,64,161,0.8);
}
.cuadritoItems:hover .cuadritoCeleste > img,
.cuadritoItems:hover .cuadritoCeleste > div{
    opacity: 1;
}


.filtrado .cuadritoItems {
    display: none;
}

.filtrado .cuadritoItems.active {
    display: block;
}
.botonesFilter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;
    justify-content: center;
}
.botonesFilter a:first-child{
    margin-left: 0px;
}
.botonesFilter a {
    font-size: 20px;
    font-family: 'saira-regular';
    text-decoration: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    width: 262px;
    color: var(--azul);
    z-index: 1;
    text-transform: uppercase;
    margin-left: 30px;
    z-index: 1;
    text-align: center;
    margin-bottom: 24px;
}
.botonesFilter a.active {
    font-size: 20px;
    font-family: 'saira-semibold';
    text-decoration: none;
    position: relative;
    display: flex;
    align-items: center;
    color: var(--blanco);
    z-index: 1;
    text-transform: uppercase;
}
.botonesFilter a::before {
    content: '';
    width: 100%;
    height: 100%;
    transform: skew(-15deg);
    border: 2px solid var(--azul);
    position: absolute;
    color: #FFFFFF;
    line-height: 0;
    z-index: -1;
    left: 0;
    top: 0;
}
.botonesFilter a.active::before {
    content: '';
    width: 100%;
    height: 100%;
    transform: skew(-15deg);
    border: 2px solid var(--azul);
    position: absolute;
    color: #FFFFFF;
    line-height: 0;
    background-color: var(--azul);
}

.container-1634{
    max-width: 1634px;
    width: calc(100% - 40px);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
#whySection .container-1634{
    justify-content: center;
}
.container-1634 .divWhy{
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 70px;
    padding-bottom: 70px;
    width: calc(50% - 121px);
}
.container-1634.greyline .divWhy{
    border-bottom: 2px solid var(--grisClaro);
}
.container-1634.greyline .divWhy:nth-child(2n){
    border-left: 2px solid var(--grisClaro);
}
.container-1634.solo .divWhy{
    margin: 0 auto;
}
.sectionDatos{
    margin-bottom: 40px;
}


/*****************/
/*****************/

.sectionForm{
    background-color: var(--grisMasClaro);
    margin-top: 100px;
}
.sectionForm textarea{
    min-height: 188px;
}
.sectionForm form{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto !important;
    float: none !important;
}
.sectionForm > .row{
    margin-bottom: 0px;
}
.buttonForm{
    position: relative;
    font-size: 20px;
    font-family: 'saira-regular';
    color: var(--blanco);
    background-color: var(--azul);
    border: none;
    height: 42px;
    width: 140px;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
}
.buttonForm::before{
    content: '';
    width: 100%;
    height: 100%;
    transform: skew(-15deg);
    background: var(--azul);
    border: 2px solid #FFFFFF;
    position: absolute;
    color: #FFFFFF;
    line-height: 0;
}
input.invalid, select.invalid {
    border-bottom: 2px solid red !important;
    box-shadow: 0 1px 0 0 red !important;
}

/*****************/
/*****************/

.ubicanos{
    max-width: 1800px;
    width: 100%;
    height: 499px;
    background: url('../img/map.png') no-repeat;
    display: flex;
    align-items: center;
}
.ubicanos .cuadroUbicanos{
    background-color: var(--azul);
    padding: 34px 50px 30px 50px;
    color: var(--blanco);
    display: inline-block;
}
.ubicanos .cuadroUbicanos .titleUbicanos{
    font-family: 'saira-semibold';
    font-size: 40px;
    padding: 0;
    margin: 0;
    position: relative;
    margin-bottom: 40px;
}
.ubicanos .cuadroUbicanos .titleUbicanos::before{
    content: '';
    position: absolute;
    background-color: var(--verde);
    width: 60px;
    height: 8px;
    bottom: -10px;
}
.ubicanos .cuadroUbicanos p:first-child{
    margin-top: 0;
}
.ubicanos .cuadroUbicanos p{
    font-family: 'saira-regular';
    font-size: 27px;
    color: var(--blanco);
    margin-top: 20px;
    text-align: left;
    margin-bottom: 0;
}
.ubicanos .cuadroUbicanos p span{
    display: block;
}
.ubicanos .cuadroUbicanos p .subtitle{
    font-family: 'saira-semibold';
    font-size: 25px;
    color: var(--blanco);
    text-transform: uppercase;
}
/*****************/
/*****************/
.contEticoText{
    max-width: 1600px;
    width: calc(100% - 80px);
    margin: 0 auto;
}
.graysection{
    background-color: var(--grisMasClaro);
}
.divEtic{
    text-align: center;
    width: 451px;
}
.divEtic span{
    display: block;
    font-family: 'saira-regular';
    font-size: 33px;
}
.divEtic span.boldy{
    color: var(--azul);
    font-family: 'saira-bold';
}
.flexEtic{
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 80px;
}
.divInquietud{
    margin: 0 auto;
    width: 670px;
    padding: 0 20px;
    padding-bottom: 40px;
    padding-top: 40px;
    text-align: center;
}
.divInquietud p{
    font-size: 25px;
    color: var(--gris);
    line-height: 1.5;
    text-align: center;
}
.divInquietud .title-inquietud{
    font-family: 'saira-semibold';
    font-size: 42px;
    color: var(--azul);
}
.divInquietud .buttonBlue{
    font-size: 20px;
    font-family: 'saira-regular';
    text-decoration: none;
    position: relative;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;  
    padding: 8px 20px 3px 20px;
    margin: 0 auto;
    line-height: 1;
    margin-bottom: 40px;
}
.divInquietud .buttonBlue::before {
    content: '';
    width: 100%;
    height: 100%;
    transform: skew(-15deg);
    background: var(--azul);
    border: 2px solid var(--azul);
    position: absolute;
    color: #FFFFFF;
    line-height: 0;
    left: 0;
    top: 0;
}
.divInquietud .buttonBlue span{
    z-index: 1;
    position: relative;
    text-align: center;
    width: 100%;
    padding: 5px 0;
}

/*****************/
/*****************/
.container-inquietud-formulario{
    max-width: 1024px;
    width: calc(100% - 40px);
    margin: 0 auto;
}
.form-section-header {
    padding: 15px;
    color: var(--azul);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blanco);
    font-family: 'saira-medium';
    font-size: 20px;
}
.active .form-section-header {
    background-color: var(--azul);
    color: #fff;
}
/* .form-section-header:focus{
    outline: 0;
    background: inherit;
} */
.form-section-header i {
    font-style: normal; /* Para asegurar que los símbolos + y - se vean como texto */
}
.collapsible-body label {
    font-size: 20px;
    color: var(--azul);
}
.collapsible-body [type="radio"]:not(:checked) + span, .collapsible-body [type="radio"]:checked + span,
.collapsible-body input[type="text"] {
    font-size: 20px;
}
.flex-collapsible{
    padding-bottom: 60px;
}
.flex-collapsible > div{
    float: left;
    margin-right: 20px;
}

 .btn{
    font-size: 20px;
    font-family: 'saira-regular';
    text-decoration: none;
    position: relative;
    align-items: center;
    width: 159px;
    color: #FFFFFF;
    z-index: 1;
    text-align: center;
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding-top: 5px;
    padding-bottom: 37px;
}

 .btn::before{
    content: '';
    width: 100%;
    height: 100%;
    transform: skew(-15deg);
    background: var(--azul);
    border: 2px solid #FFFFFF;
    position: absolute;
    color: #FFFFFF;
    line-height: 0;
    z-index: -1;
    top: 0;
    left: 0;
}
#formInquietud p{
    font-size: 25px;
    font-family: 'saira-light';
}
/*****************/
/*****************/


footer{
    background-color: var(--azul);
    color: #FFFFFF;
    padding-bottom: 20px;
}
footer .container-1300 .columnFooter:first-child img,
footer .container-1300 .columnFooter:first-child div{
    padding-left: 90px;
}
footer a{
    color: #FFFFFF;
    font-size: 33px;
    line-height: 52px;
}
.columnFooter{
    padding-top: 60px;
}
footer ul.navFooter{
    display: flex;
    flex-wrap: wrap;
}
footer ul.navFooter li{
    width: calc(50% - 42px);
    padding-left: 42px;
}
footer .listRedes{
    display: flex;
    float: right;
    padding-right: 53px;
}
footer .listRedes li{
    padding: 0 20px;
}
footer .listRedes img{
    width: 36px;
}

@media(max-width:2000px){
    .paralelogramDivBanner{
       left: 410px;
    }
}
@media(max-width:1660px){
    .contfullblue span.boldDatos{
        font-size: 36px;
    }
    .contfullblue .divDatos{
        padding: 0 20px;
    }
   
}
@media(max-width:1600px){
    .carouselClientes > div img{
        max-width: 250px;
    }
    .container-1300{
        max-width: 100%;
    }
    .ubicanos {
        background-position-x: -278px;
    }
    .ubicanos .cuadroUbicanos{
        margin-left: 20px;
        padding: 34px 20px 30px 20px;
    }
    .cuadritoCeleste span{
        font-size: 23px;
    }
    
}


@media(max-width:1526px){
    .nav-desktop{
        display: none;
    }
    .paralelogramDivBanner .mayorText{
        font-size: 40px;
    }
    .paralelogramDivBanner .minurText{
        font-size: 26px;
    }
    
    .paralelogramDivBanner .mayorText {
        font-size: 36px;
    }
    .paralelogramDivBanner > div{
        padding: 44px 40px;
    }
    .paralelogramDivBanner .mayorText{
        width: 420px;
    }
}
@media(max-width:1386px){
    .contfullblue span{
        font-size: 20px;
    }
    .contfullblue span.boldDatos{
        font-size: 30px;
    }
    .contfullblue .divDatos{
        padding: 0 5px;
    }
    .contMedia{
        flex-direction: column;
    }
    .sectionMedia .divVideoMedia img {
        top: 0;
        width: 100%;
    }
    .titleSection{
        font-size: 46px;
    }
    .cuadritoItems{
        width: 25%;
    }
    
}
@media(max-width:1200px){
    .ubicanos .cuadroUbicanos p .subtitle{
        font-size: 20px;
    }
    .ubicanos .cuadroUbicanos p{
        font-size: 18px;
    }
    .ubicanos .cuadroUbicanos .titleUbicanos{
        font-size: 30px;
    }
    footer a{
        font-size: 23px;
        line-height: 1.5;
    }
    p{
        font-size: 28px;
        line-height: 1.5;
    }
}
@media(max-width:1140px){
    .sectionForm{
        padding: 0 20px;
    }
    .ubicanos {
        background-position-x: -530px;
    }
    .titleSection{
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }
    .titleSection::after{
        left: 4px;
    }
    .cuadritoItems{
        width: 33.33%;
    }
}
@media(max-width:1064px){
    .contfullblue{
        flex-direction: column;
    }
    .contfullblue span.boldDatos{
        margin: 0 auto;
        font-size: 45px;
    }
    .contfullblue span{
        font-size: 23px;
    }
    .contfullblue .divDatos{
        flex-direction: column;
        text-align: center;
    }
    .contfullblue .divDatos {
        padding: 10px 5px;
    }
    .sectionMedia .subtitle,
    .sectionMedia .subtitle.plus,
    .titleDiv {
        font-size: 28px;
    }
    .sectionMedia p,
    .divWhy p{
        font-size: 24px;
    }
    .sectionMedia .divTextoMedia > div{
        width: calc(100% - 40px);
    }
    .container-1634 .divWhy{
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
        width: calc(50% - 80px);
    }

    
}
@media(max-width:990px){
    footer .container-1300 .columnFooter:first-child img, footer .container-1300 .columnFooter:first-child div {
        padding-left: 0;
    }
    .container-1634.greyline .divWhy:nth-child(2n) {
        border-left: none;
    }
    .container-1634 .divWhy{
        width: 100%;
    }
    .paralelogramDivBanner {
        left: 310px;
        top: 77%;
    }
    .paralelogramDivBanner .mayorText {
        font-size: 30px;
    }
    .paralelogramDivBanner .minurText{
        font-size: 18px;
    }
    .paralelogramDivBanner a.buttonBanner{
        font-size: 16px;
        width: 130px;
    }
    .paralelogramDivBanner > div{
        padding: 20px 30px;
    }
    .paralelogramDivBanner .mayorText{
        width: 320px;
    }
    
}
@media(max-width:860px){
    .ubicanos .cuadroUbicanos{
        width: 100%;
        margin-left: 0;
    }
    .ubicanos{
        align-items: flex-start;
        height: 660px;
        background-position-x: 90%;
        background-position-y: 110%;
        background-size: 1361px;
    }
    
    
}
@media(max-width:740px){
    footer .container-1300{
        flex-direction: column;
    }
    .columnFooter{
        width: 100%;
    }
    .cuadritoItems{
        width: 50%;
    }
}
@media(max-width:620px){
    .contfullblue .divDatos {
        padding: 10px 20px;
    }
    footer .listRedes{
        float: left;
        padding-right: inherit;
    }
    .container-1634 .divWhy{
        padding-left: 0;
        padding-right: 0;
    }
    .cuadritoItems:hover .cuadritoCeleste > img{
        width: 30px;
    }
    .cuadritoCeleste{
        width: calc(100% - 20px);
        height: calc(100% - 20px);
    }
    .cuadritoCeleste{
        padding: 10px;
    }
    .cuadritoCeleste span {
        font-size: 18px;
    }
    .titleSection::after{
        display: none;
    }
    .paralelogramDivBanner {
        left: 200px;
        top: 77%;
    }
    .paralelogramDivBanner .mayorText {
        width: auto;
    }
    .paralelogramDivBanner .mayorText {
        font-size: 24px;
    }
    .paralelogramDivBanner > div {
        padding: 20px 30px;
    }
    .paralelogramDivBanner .contButtons{
        flex-direction: column;
    }
    .paralelogramDivBanner a.buttonBanner:last-child{
        margin-left: 0;
        margin-top: 20px;
    }
    .logo-header{
        width: 140px;
    }
    .titleSection {
        font-size: 36px;
        padding-bottom: 20px;
        padding-top: 30px;
    }
    
}
@media(max-width:440px){

    .ubicanos{
        height: 749px;
        background-position-x: 80%;
        background-position-y: 100%;
        background-size: 1481px;
    }
    
}
@media(max-width:420px){
    .contfullblue span.boldDatos {
        font-size: 38px;
    }
    footer ul.navFooter li{
        padding-left: 0;
    }
    footer ul.navFooter{
        flex-direction: column;
    }
    footer .container-1300 .columnFooter:first-child img{
        width: 100%;
    }
    

}
@media(max-width:340px){
    .contfullblue span.boldDatos {
        font-size: 30px;
    }
    .contfullblue span {
        font-size: 20px;
    }
}
